@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  color: $text-color-primary;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  background-color: $background-color;
}
img {
  // display: block;
  width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 1rem;
}
h2 {
  color: $text-color-primary;
  font-size: 2.25rem;
  font-weight: 700;
}
/////////////////////////// GENERAL STYLE
.btn {
  @include button;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.section-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-pd {
  padding: 5rem 0;
}

.section-header {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 3.15rem;
  > span {
    @include subTitle;
  }

  h2 {
    margin-bottom: 0.625rem;
  }
}
