nav {
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  z-index: 9;

  .container {
    justify-content: space-between;

    .logo {
      color: $white-color;
      font-size: 35px;
      font-family: "Clicker Script", cursive;
      font-weight: normal;
    }

    .nav-link-container {
      .btn-nav-close {
        display: none;
      }

      ul {
        gap: 3rem;

        .nav-link {
          color: $white-color;
          font-size: 14px;
          font-weight: medium;
          gap: 2.5px;
          i {
            color: $accent-color;
            transition: all 400ms ease;
          }
          &:hover {
            opacity: 0.8;
          }
          &:hover i {
            transform: rotate(720deg);
          }
        }
      }
    }

    .btn-container {
      gap: 1rem;

      .sign-in {
        color: $white-color;
        font-size: 14px;
        font-weight: medium;
        &:hover {
          color: rgba($color: $white-color, $alpha: 0.8);
        }
      }
      .btn-nav-open {
        display: none;
      }
    }
  }
}

// ====== Media Query ==========
@media screen and (max-width: 992px) {
  nav {
    .container {
      .nav-link-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $secondary-color;
        transform: translateX(-100%);
        transition: 400ms ease;

        ul {
          flex-direction: column;
          align-items: center;
          .nav-link {
            opacity: 0;
            transition: all 400ms ease 200ms;
            .nav-link i {
              color: $accent-color;
            }
          }
          .nav-link.active {
            opacity: 1;
          }
        }

        .btn-nav-close {
          display: block;
          color: $white-color;
          position: absolute;
          top: 1.5rem;
          right: 1.5rem;
          font-size: 2rem;
        }
      }
      .nav-link-container.active {
        transform: translateX(0);
      }
      .btn-container {
        .btn-nav-open {
          display: block;
          color: $white-color;
          font-size: 2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 548px) {
  nav {
    .container {
      .btn-container {
        .sign-in,
        .btn {
          display: none;
        }
      }
    }
  }
}
